<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/1.css" type="text/css">
</head>
<body>
    <% data.forEach(function(item) { %>
    <p><a href='http://localhost:3000/article/<%= item.idArticle %>'><%= item.titleArticle %></a>
    <p>
        <%= item.descriptionArticle %>
    </p>
    <% }); %>
    <script>
        document.querySelector("#deleteArticle").onclick=function()
            {
                event.preventDefault();
                let article={
                    'idArticle':location.href.split("/").at(-1),
                }
                let promise = fetch ('http://localhost:3000/admin/deleteArticle',{
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json;charset=utf-8'
                    },
                    body: JSON.stringify(article)
                })
                .then(response => document.location="http://localhost:3000/admin/")
                .catch((error) => {
                    console.log(error);
                });
            };
    </script>
</body>
</html>