<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/1.css" type="text/css">
</head>
<body>
    <% data.forEach(function(item) { %>
        <li>
            <a href='http://localhost:3000/article/<%= item.idArticle %>'><%= item.titleArticle %></a>
            <p><%= item.descriptionArticle %></p>
        </li>
        <% }); %> 
</body>
</html>