<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/1.css" type="text/css">
</head>
<body>
    <h2>Список новостей</h2>
    <ul>
        <% newsList.forEach(news => { %>
            <li>
                <a href="http://localhost:3000//news/<%= news.idNews %>"><%= news.titleNews %></a>
                <p><%= news.descriptionNews %></p>
            </li>
        <% }); %>
    </ul>
</body>
</html>