<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/1.css" type="text/css">
    <title><%= news.titleNews %></title>
</head>
<body>
    <%= news.titleNews %>
    <p>
        <%= news.textNews %>
    </p>
    <p><a href="http://localhost:3000/news">Вернуться к списку новостей</a></p>
</body>
</html>