<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/1.css" type="text/css">
</head>
<body>
    <%= news.titleNews %>
    <p>
        <%= news.textNews %>
    </p>
    <p><a href="/news">Вернуться к списку новостей</a></p>
</body>
</html>