h2 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 130px;
    padding-top: 10px;
    text-decoration: underline;
}

body {
    background-color: rgb(237, 201, 250);
}

form {
    border: 10px groove rgb(216, 56, 248);
    padding: 10px;
    width: 430px;
}

li {
    list-style-type: circle;
    border: 10px groove rgb(216, 56, 248);
    margin: 10px;
    padding-left: 20px;
    padding-top: 10px;
}

.text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    padding-left: 30px;
}